export OPEN_OBSERVE_ENABLE=false
export OPEN_OBSERVE_ENDPOINT=10.99.100.8:5081
export OPEN_OBSERVE_TOKEN="Basic cm9vdEBleGFtcGxlLmNvbTp4TTlYV2QzU3ZnRFJHRmI5"
export OPEN_OBSERVE_ORGANIZATION=default
export OPEN_OBSERVE_HOST_NAME=workflow

# file console plain json
# direnv allow .
# https://direnv.net/
# echo ${MESH_ADDRESS}
# http://14.103.249.105:30080
# MESH_ADDRESS=10.99.173.33:7304;MESH_RUNTIMNE=10.8.0.61;MESH_NAME=lite;LITE_HOME=/Users/qiangyuecheng/蓝象/gaia_lite;MESH_HOME=/Users/qiangyuecheng/蓝象/gaia_mesh